*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	box-sizing: border-box;
}

button {
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
	}
}

.is-active {
	color: red;
	font-weight: 600;
}
