$color-blue: #1c88bf;
$color-blue-steel: #364051;
$color-grey: #434343;
$color-grey-light: rgba(
	$color: #c1c1c1,
	$alpha: 0.6,
);


$bp-xl: 87.5em;		//1400px
$bp-lg: 50em;			//800px
$bp-md: 37.5em;		//600px
$bp-sm: 25em;			//400px